footer{background-color: aqua;}



  
a:visited{
    color:rgb(87, 56, 15);
    text-decoration: none;
}
 
a:hover{
    color:rgb(230, 219, 13);
    text-decoration: none;
}
 
a:active{
    color: rgb(100, 230, 25);
    text-decoration: none;
}
.footpara{
    color: rgb(28, 16, 26);
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}