
 

body{



display: flex;
flex-direction: column;
min-height: 100vh;


/* overflow:hidden; */
}



.koko{
    color: rgb(0, 255, 13); 
    font-size: 60px;
    font-style: oblique;
}

.kk{
   color:( rgb(151, 188, 143));
   font-size: 30px;
    font-style: oblique;
   
   
}



.btn{
    color: rgb(81, 221, 29);
}

footer{background-color: aqua;
margin-top: auto;
}

a:link{
    color: rgb(245, 146, 16);
    text-decoration: none;
}
  
a:visited{
    color:rgb(87, 56, 15);
    text-decoration: none;
}
 
a:hover{
    color:rgb(178, 106, 11);
    text-decoration: none;
}
 
a:active{
    color: rgb(50, 96, 23);
    text-decoration: none;
}
.footpara{
    color: rgb(19, 73, 200);
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.dropdown-item{
  color: black;}

  @media screen and (max-width: 280px) {
    

    .samall {
        font-weight: 600;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: x-large;
        color: darkorange;
        margin-top: 10%;
        margin-right: 30vh;
        margin-left: 100px;
   
     padding: 3%;
      font-weight: 700;
      font-size: 40px;
    }
  }

  @media screen and (min-width: 281px) and (max-width: 570px) {
    

    .samall {
        font-weight: 600;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: x-large;
        color: darkorange;
        margin-top: 10%;
        margin-right: 30vh;
   
     padding: 3%;
      font-weight: 700;
      font-size: 40px;
    }
  }

  @media screen and (min-width: 571px) and (max-width: 900px) {
   

    .samall {
        font-weight: 600;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 60px;
        color: darkorange;
        margin-top: 10%;
        margin-right: 30vh;
   
     padding: 0%;
      font-weight: 700;
      font-size: 40px;
    }
  }

  @media screen and (min-width: 901px) {
    

    .samall {
      
       
        
        font-family:monospace;
        font-size: 1000px;
        
        color: darkorange;
        margin-top: 10%;
        margin-right: 30vh;
       
   
     padding: 0%;
      font-weight: 700;
      font-size: 40px;
    }
  }

  

 